<section ng-cloak layout="column" layout-padding>
  <form ng-cloak layout="column" layout-padding name="vm.passwordForm" ng-submit="vm.changeUserPassword(vm.passwordForm.$valid)" novalidate autocomplete="off">
    <div class="form-group" show-errors>
      <md-input-container class="md-block">
        <md-select-label>Current Password</md-select-label>
        <input type="password" id="currentPassword" name="currentPassword" class="form-control" ng-model="vm.passwordDetails.currentPassword" required>
        <div ng-messages="vm.passwordForm.currentPassword.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Your current password is required.</p>
        </div>
      </md-input-container>
    </div>
    <div class="form-group" show-errors>
      <md-input-container class="md-block">
        <md-select-label>New Password</md-select-label>
        <input type="password" id="newPassword" name="newPassword" class="form-control" ng-model="vm.passwordDetails.newPassword" password-validator required>
        <div ng-messages="vm.passwordForm.newPassword.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Enter a new password.</p>
          <div ng-repeat="passwordError in passwordErrors">
            <p class="help-block error-text" ng-show="vm.passwordForm.newPassword.$error.requirements">{{passwordError}}</p>
          </div>
        </div>
      </md-input-container>
    </div>
    <div class="form-group" show-errors>
      <md-input-container class="md-block">
        <md-select-label>Verify Password</md-select-label>
        <input type="password" id="verifyPassword" name="verifyPassword" class="form-control" ng-model="vm.passwordDetails.verifyPassword" password-verify="vm.passwordDetails.newPassword" required>
        <div ng-messages="vm.passwordForm.verifyPassword.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Verify your new password.</p>
          <p class="help-block error-text" ng-show="vm.passwordForm.verifyPassword.$error.passwordVerify">Passwords do not match.</p>
        </div>
      </md-input-container>
    </div>
    <div class="text-center form-group">
      <md-button type="submit" class="md-raised md-primary">Save Password</md-button>
    </div>
  </form>
</section>
